<!doctype html>
<html lang="en">
  <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


    <title>Sousei's Blog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  </head>

  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">Sousei Inada</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_superuser %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
              </li>
                {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="https://atcoder.jp/user/koshihikaru">AtCoder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.kaggle.com/koshihikari77">kaggle</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/koshihikari77">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'allblogs' %}">Blog</a>
              </li>
            </ul>
          </div>
        </nav>
    <header>
        <br />
        <br />
      <div class="container">
        <h1>Welcom to Sousei's Blog</h1>

      </div>
        <br />
        <br />
        <hr>
    </header>



        <div class="container">
            <div class="row">
                <main class="col-12 col-md-8">
                    {% block content %}

                    {% endblock %}
                </main>
                <aside class="col-12 col-md-3 offset-md-1">
              <!-- Categories Widget -->


                    <div class="list-group mt-5">
                      <a href="#" class="list-group-item text-white bg-dark">
                        Category
                      </a>
                      {% for c in category_list  %}
                      <a class="list-group-item" href="{% url 'category_detail' c.pk %}">
                          {{ c.title }}<span class="badge badge-dark badge-pill float-right text-white">{{ c.num_posts }}</span>
                      </a>
                      {% endfor %}
                    </div><!-- タグ一覧終了 -->

                    <div class="list-group mt-5">
                      <a href="#" class="list-group-item text-white bg-dark">
                        Tag
                      </a>
                      {% for t in tag_list  %}
                      <a class="list-group-item" href="{% url 'tag_detail' t.pk %}">
                          {{ t.title }}<span class="badge badge-dark badge-pill float-right text-white">{{ t.num_posts }}</span>
                      </a>
                      {% endfor %}
                    </div><!-- タグ一覧終了 -->
                </aside>
            </div>
        </div>



    <footer class="text-muted">
        <div class="container text-center">
        <p>© Sousei Inada {% now "Y" %}</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  </body>
