{% extends 'base.html' %}

{% block content %}

            {% for blog in blogs.all %}
            <div class="card mb-4">
                <img class="card-img-top" src="{{ blog.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'detail' blog.id %}"><h2 class="card-title">{{ blog.title }}</h2></a>
                    <p class="card-text">{{ blog.summary }}</p>

                    <br />
                </div>
                <div class="card-footer text-muted">
                    {{ blog.created_at }}
                    {{ blog.category }}
                </div>

             </div>
            {% endfor %}


{% endblock %}

