{% extends 'base.html' %}

{% block content %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">記事一覧</li>

            <li class="breadcrumb-item">{{ category }}</li>

      </ol>
    </nav>

            {% for p in query_set %}

            <div class="card mb-4">
                <img class="card-img-top" src="{{ p.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'detail' p.id %}"><h2 class="card-title">{{ p.title }}</h2></a>

                    <br />
                </div>
                <div class="card-footer text-muted">
                    <span class="badge badge-pill badge-primary">{{ p.created_at }}</span>
                    <span class="badge badge-pill badge-primary">{{ p.category }}</span>
                    {% for t in p.tag.all %}
                    <span class="badge badge-pill badge-primary">{{ t.title }}</span>
                    {% endfor %}
                </div>
             </div>

            {% endfor %}

{% endblock %}

